.bottle {
  width: 150px;
  height: 200px;
}

.all-bollte {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 10px;
  padding: 10px;
}

.card-bottle img {
  width: 80px;
  margin: 5px;
  border: 3px solid yellow;
}
